*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #cdd4d46c;
}

canvas{
    margin: 0 auto;
    background:url('./assets/img/floresta.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid #000;
    position: absolute;
    top: 30px;
    left: 0;
    bottom: 0;
    right: 0;
}